.close-button{
  float: right;
  top:-24px;
  right:-24px;
  font-size:48px !important;
}

table{
  background-color: #efeeee;
}

th{
  padding-top: 10px;
  padding-left: 10px;
  width: 180px;
  height: 80px;
  vertical-align: text-top;
}

.header-title{
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  //vertical-align: text-top;
  color: #333333;
}

.header-description{
  //padding-left: 10px;
}

td{
  font-size: 12px;
  text-align: center;
}

::ng-deep .mat-slide-toggle.mat-green.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #75cfb8;
}

::ng-deep .mat-slide-toggle.mat-green.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #bbdfc8;
}

::ng-deep .mat-slide-toggle.mat-yellow.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #f5d782;
}

::ng-deep .mat-slide-toggle.mat-yellow.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #ffee93;
}

::ng-deep .mat-slide-toggle.mat-orange.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #ff7b54;
}

::ng-deep .mat-slide-toggle.mat-orange.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #ffb26b;
}

::ng-deep .mat-slide-toggle.mat-red.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #ef4f4f;
}

::ng-deep .mat-slide-toggle.mat-red.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #ee9595;
}
