.close-button{
  float: right;
  top:-24px;
  right:-24px;
  font-size:48px !important;
}

table{
  background-color: #efeeee;
}

th{
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: #333333;
  padding-left: 10px;
}

td{
  font-size: 12px;
  text-align: center;
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #75cfb8;
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #bbdfc8;
}
