.close-button{
  float: right;
  top:-24px;
  right:-24px;
  font-size:48px !important;
}

table{
  background-color: #efeeee;
}

th{
  padding-top: 10px;
  width: 180px;
  height: 80px;
  vertical-align: text-top;
}
.column-green{
  background-color: #a6f0c6;
}

.column-yellow{
  background-color: #fdffbc;
}

.column-orange{
  background-color: #ffcb91;
}

.column-red{
  background-color: #ff8585;
}

.header-title{
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  //vertical-align: text-top;
  text-align: center;
  color: #333333;
}

.header-description{
  padding-left: 15px;
  padding-right: 15px;
  text-align: justify;
}

td{
  font-size: 12px;
  text-align: center;
}

::ng-deep .mat-slide-toggle.mat-green.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #007965;
}

::ng-deep .mat-slide-toggle.mat-green.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #00af91;
}

::ng-deep .mat-slide-toggle.mat-yellow.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #ffe679;
}

::ng-deep .mat-slide-toggle.mat-yellow.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #ffdd49;
}

::ng-deep .mat-slide-toggle.mat-orange.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #ff7400;
}

::ng-deep .mat-slide-toggle.mat-orange.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #ff9a00;
}

::ng-deep .mat-slide-toggle.mat-red.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #ff0000;
}

::ng-deep .mat-slide-toggle.mat-red.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #ff5252;
}

th.mat-header-cell:last-of-type{
  padding-right: 0px;
}

td.mat-cell:last-of-type{
  padding-right: 0px;
}
