<button mat-icon-button class="close-button" [mat-dialog-close]="true">
  <mat-icon class="close-icon" color="#333333">close</mat-icon>
</button>
<h2 mat-dialog-title>Configurazione lampione {{data.info}}</h2>
<div class="mat-elevation-z8">
  <form [formGroup]="timerForm" (ngSubmit)="onSubmit()">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="Anomalia">
        <th mat-header-cell *matHeaderCellDef>
          <div class="desktop-only">
            <p class="header-title" style="text-align: left;">Anomalia</p>
          </div>
          <div class="mobile-only">
          </div>
        </th>
        <td mat-cell *matCellDef="let element" style="text-align: left"> {{element.name}}</td>
      </ng-container>

      <ng-container matColumnDef="Allerta verde">
        <th mat-header-cell *matHeaderCellDef class="column-green">
          <div class="desktop-only">
            <p class="header-title"> Allerta verde</p>
            <p class="header-description">Notifica sulla dashboard</p>
          </div>
          <div class="mobile-only">
            <p class="header-title">verde</p>
            <div data-tooltip="Notifica sulla dashboard" style="text-align: center"><i class="fas fa-info"></i></div>
          </div>
        </th>
        <td mat-cell *matCellDef="let element" class="column-green">

          <div class="desktop-only">
            <div *ngIf="element.id == 0" class="div1">
              <div class="div2"> Durata:</div>
              <textarea class="textarea1" rows="1" cols="2" type="number" formControlName="timer_green"> </textarea>
              <div class="div3 d-none d-lg-block"> min</div>
              <div *ngIf="timerForm.controls['timer_green'].invalid">
                <div *ngIf="f.timer_green.errors.required" class="validationError">Inserire un numero valido</div>
                <div *ngIf="f.timer_green.errors.pattern" class="validationError">Inserire un numero valido</div>
                <div *ngIf="f.timer_green.errors.maxlength" class="validationError">Num max consentito 999</div>
              </div>
            </div>
          </div>

          <div class="mobile-only">
            <div *ngIf="element.id == 0">
              <div> Durata:</div>
              <textarea class="textarea1" rows="1" cols="2" type="number" formControlName="timer_green"> </textarea>
              <div *ngIf="timerForm.controls['timer_green'].invalid">
                <div *ngIf="f.timer_green.errors.required" class="validationError">Inserire un numero valido</div>
                <div *ngIf="f.timer_green.errors.pattern" class="validationError">Inserire un numero valido</div>
                <div *ngIf="f.timer_green.errors.maxlength" class="validationError">Num max consentito 999</div>
              </div>
            </div>
          </div>


          <mat-slide-toggle *ngIf="element.id != 0" color="green" (change)="onToggle($event, data.id, element, 'green')"
                            [checked]="element.c_green" [disabled]="element.d_green">
          </mat-slide-toggle>
        </td>
      </ng-container>

      <ng-container matColumnDef="Allerta gialla">
        <th mat-header-cell *matHeaderCellDef class="column-yellow">
          <div class="desktop-only">
            <p class="header-title"> Allerta gialla</p>
            <p class="header-description">Notifica sulla dashboard</p>
          </div>
          <div class="mobile-only">
            <p class="header-title">gialla</p>
            <div data-tooltip="Notifica sulla dashboard" style="text-align: center"><i
              class="fas fa-info"></i></div>
          </div>
        </th>
        <td mat-cell *matCellDef="let element" class="column-yellow">

          <div class="desktop-only">
            <div *ngIf="element.id == 0" class="div1">
              <div class="div2"> Durata:</div>
              <textarea class="textarea1" rows="1" cols="2" type="number" formControlName="timer_yellow">  </textarea>
              <div class="div3 d-none d-lg-block"> min</div>
              <div *ngIf="timerForm.controls['timer_yellow'].invalid">
                <div *ngIf="f.timer_yellow.errors.required" class="validationError">Inserire un numero valido</div>
                <div *ngIf="f.timer_yellow.errors.pattern" class="validationError">Inserire un numero valido</div>
                <div *ngIf="f.timer_yellow.errors.maxlength" class="validationError">Num max consentito 999</div>
              </div>
            </div>
          </div>

          <div class="mobile-only">
            <div *ngIf="element.id == 0">
              <div> Durata:</div>
              <textarea class="textarea1" rows="1" cols="2" type="number" formControlName="timer_yellow">  </textarea>
              <div *ngIf="timerForm.controls['timer_yellow'].invalid">
                <div *ngIf="f.timer_yellow.errors.required" class="validationError">Inserire un numero valido</div>
                <div *ngIf="f.timer_yellow.errors.pattern" class="validationError">Inserire un numero valido</div>
                <div *ngIf="f.timer_yellow.errors.maxlength" class="validationError">Num max consentito 999</div>
              </div>
            </div>
          </div>

          <mat-slide-toggle *ngIf="element.id != 0" color="yellow"
                            (change)="onToggle($event, data.id, element, 'yellow')" [checked]="element.c_yellow"
                            [disabled]="element.d_yellow">
          </mat-slide-toggle>
        </td>
      </ng-container>

      <ng-container matColumnDef="Allerta arancione">
        <th mat-header-cell *matHeaderCellDef class="column-orange">
          <div class="desktop-only">
            <p class="header-title"> Allerta arancione</p>
            <p class="header-description">Notifica visiva/sonora sulla dashboard e Telegram, azione richiesta</p>
          </div>
          <div class="mobile-only">
            <p class="header-title">arancio</p>
            <div data-tooltip="Notifica visiva/sonora sulla dashboard e Telegram, azione richiesta" style="text-align: center"><i
              class="fas fa-info"></i></div>
          </div>
        </th>
        <td mat-cell *matCellDef="let element" class="column-orange">

          <div class="desktop-only">
            <div *ngIf="element.id == 0" class="div1">
              <div class="div2"> Durata:</div>
              <textarea class="textarea1" rows="1" cols="2" type="number" formControlName="timer_orange"> </textarea>
              <div class="div3 d-none d-lg-block"> min</div>
              <div *ngIf="timerForm.controls['timer_orange'].invalid">
                <div *ngIf="f.timer_orange.errors.required" class="validationError">Inserire un numero valido</div>
                <div *ngIf="f.timer_orange.errors.pattern" class="validationError">Inserire un numero valido</div>
                <div *ngIf="f.timer_orange.errors.maxlength" class="validationError">Num max consentito 999</div>
              </div>
            </div>
          </div>

          <div class="mobile-only">
            <div *ngIf="element.id == 0">
              <div> Durata:</div>
              <textarea class="textarea1" rows="1" cols="2" type="number" formControlName="timer_orange"> </textarea>
              <div *ngIf="timerForm.controls['timer_orange'].invalid">
                <div *ngIf="f.timer_orange.errors.required" class="validationError">Inserire un numero valido</div>
                <div *ngIf="f.timer_orange.errors.pattern" class="validationError">Inserire un numero valido</div>
                <div *ngIf="f.timer_orange.errors.maxlength" class="validationError">Num max consentito 999</div>
              </div>
            </div>
          </div>

          <mat-slide-toggle *ngIf="element.id != 0" color="orange"
                            (change)="onToggle($event, data.id, element, 'orange')" [checked]="element.c_orange"
                            [disabled]="element.d_orange">
          </mat-slide-toggle>
        </td>
      </ng-container>

      <ng-container matColumnDef="Allerta rossa">
        <th mat-header-cell *matHeaderCellDef class="column-red">
          <div class="desktop-only">
            <p class="header-title"> Allerta rossa</p>
            <p class="header-description">Notifica visiva/sonora sulla dashboard, Telegram e Tetralert; azione richiesta;
              attivazione
              pannello luminoso</p>
          </div>
          <div class="mobile-only">
            <p class="header-title">rossa</p>
            <div data-tooltip="Notifica visiva/sonora sulla dashboard, Telegram e Tetralert; azione richiesta;
              attivazione pannello luminoso" style="text-align: center"><i class="fas fa-info"></i></div>
          </div>
        </th>
        <td mat-cell *matCellDef="let element" class="column-red">

          <div class="desktop-only">
            <div *ngIf="element.id == 0" class="div1">
              <div class="div2"> Durata:</div>
              <textarea class="textarea1" rows="1" cols="2" type="number" formControlName="timer_red"> </textarea>
              <div class="div3 d-none d-lg-block"> min</div>
              <div *ngIf="timerForm.controls['timer_red'].invalid">
                <div *ngIf="f.timer_red.errors.required" class="validationError">Inserire un numero valido</div>
                <div *ngIf="f.timer_red.errors.pattern" class="validationError">Inserire un numero valido</div>
                <div *ngIf="f.timer_red.errors.maxlength" class="validationError">Num max consentito 999</div>
              </div>
            </div>
          </div>

          <div class="mobile-only">
            <div *ngIf="element.id == 0">
              <div> Durata:</div>
              <textarea class="textarea1" rows="1" cols="2" type="number" formControlName="timer_red"> </textarea>
              <div *ngIf="timerForm.controls['timer_red'].invalid">
                <div *ngIf="f.timer_red.errors.required" class="validationError">Inserire un numero valido</div>
                <div *ngIf="f.timer_red.errors.pattern" class="validationError">Inserire un numero valido</div>
                <div *ngIf="f.timer_red.errors.maxlength" class="validationError">Num max consentito 999</div>
              </div>
            </div>
          </div>

          <mat-slide-toggle *ngIf="element.id != 0" color="red" (change)="onToggle($event, data.id, element, 'red')"
                            [checked]="element.c_red" [disabled]="element.d_red">
          </mat-slide-toggle>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </form>
</div>
<button
  *ngIf="!f.timer_red.errors && !f.timer_orange.errors && !f.timer_yellow.errors && !f.timer_green.errors && (f.timer_green.touched || f.timer_yellow.touched || f.timer_orange.touched || f.timer_red.touched ); else submit"
  mat-raised-button class="save-button" (click)="onSubmit()">Salva
</button>
<ng-template #submit>
  <button mat-raised-button class="save-button" disabled>Salva</button>
</ng-template>
