<!--<mat-card class="card2">-->
<!--  <mat-card class="card">-->

<!--  <canvas  class="video" id="canvas2"  ></canvas>-->
<!--</mat-card>-->
<!--<mat-form-field >-->
<!--  <mat-select  #matSelect required>-->
<!--    <mat-option *ngFor="let element of safeList" value="{{element.ip}}">{{element.street}}</mat-option>-->
<!--  </mat-select>-->
<!--</mat-form-field>-->
<!--</mat-card>-->

<mat-card class="card2">
  <mat-card class="card" style="  height:270px; background: url(../../../../assets/img/im2.jpg);
  background-repeat: no-repeat;
  background-size: cover;">

    <!--    <canvas  class="video" id="canvas"  ></canvas>-->

  </mat-card>
  <mat-form-field style="text-align: center">
    <mat-select  #matSelect required [(value)] = "defaultSelected">
      <mat-option *ngFor="let element of safeList" value="{{element.id}}">
        {{element.street}}
        <span class="dot" [ngClass]="{'dot-red' : element.condition == 'Non Connesso', 'dot-green' : element.condition == 'Connesso', 'dot-yellow' : element.condition == 'Trasmissione dati'}"></span>
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-card>
