.card{
  padding: 0px 0px;
  height: 87.5%;
  width: 100%;
  margin-bottom: 0 !important;
}
.video{
  margin: 0 0;
  height:  100%;
  width: 100%;
}
#canvas2{
  margin: 0 0;
  width: 100%;
  height: 100%;
}
.card2{
  padding: 2px 2px;
  height: 100%;
  width: 100%;
}

.mat-form-field {
  width: 100% !important;
}

.cam-button{
  float: right;
  margin-top: 20px;
  background-color: #4267B2;
  color: white;
}

@media (max-width: 767px) {
  .video-image {
    //max-width: 320px !important;
    //max-height: 240px !important;
    max-width: 100vw !important;
    max-height: 28vh !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .video-image {
    //max-width: 512px !important;
    //max-height: 384px !important;
    max-width: 100vw !important;
    max-height: 28vh !important;

  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .video-image {
    //max-width: 768px !important;
    //max-height: 576px !important;
    max-width: 100vw !important;
    max-height: 28vh !important;
  }
}


@media (min-width: 1200px) {
  .video-image {
    max-width: 100vw !important;
    max-height: 25vh !important;
    display: block;
  }
}
