.card{
  padding: 2px 2px;
  min-height: 270px;
  max-height: 270px;
  height: 100%;
  width: 100%;
}
.video{
  margin: 0 0;
  min-height: 265px;
  max-height: 265px;
  width: 100%;
}
#canvas{
  margin: 0 0;
  width: 100%;
  min-height: 265px;
  max-height: 265px;
}
.card2{
  padding: 2px 2px;
  min-height: 275px;
  height: 100%;
  width: 100%;
}
