<mat-card class="card2">
  <mat-card (click)="openModal(mymodal)" class="card" style="  height:270px; background: url(../../../../assets/img/im1.jpg);
  background-repeat: no-repeat;
  background-size: cover;">

<!--    <canvas  class="video" id="canvas"  ></canvas>-->

  </mat-card>
  <mat-form-field style="text-align: center">
    <mat-select  #matSelect required [(value)] = "defaultSelected" >
      <mat-option *ngFor="let element of safeList" value="{{element.id}}">
        {{element.street}}
        <span class="dot" [ngClass]="{'dot-red' : element.condition == 'Non Connesso', 'dot-green' : element.condition == 'Connesso', 'dot-yellow' : element.condition == 'Trasmissione dati'}"></span>
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-card>

<ng-template #mymodal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Bootstrap Modal</h4>
    <button type="button" class="close" aria-label="Close" (click)="decline()">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    Esempio modal
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="decline()">Ok</button>
  </div>
</ng-template>
