<div class="container" style="max-width: none; background-color: #ffffff">

  <div class="row firstRow">
    <div class="col-sm d-none d-md-block">
      <app-weather></app-weather>
    </div>
    <!--<div class="col-sm d-none d-md-block">-->
      <!--<app-video2></app-video2>-->
    <!--</div>-->
  </div>
  <div class="row secondRow">
    <div class="col-sm d-none d-md-block">
      <app-video></app-video>
      <app-map>
      </app-map>

    </div>
    <!--<div class="col-sm">-->
      <!--<app-video></app-video>-->
      <!--&lt;!&ndash;      <img  style="height: 250px" src="assets/img/IMG_20200607_123122_1.jpg" style="width: 100%; height: 87.5%">&ndash;&gt;-->
    <!--</div>-->
    <!--<div class="col-sm d-none d-md-block">-->
    <!--<app-video2></app-video2>-->
    <!--&lt;!&ndash;      <img  style="height: 250px" src="assets/img/IMG_20200607_123225_1.jpg" style="width: 100%; height: 87.5%">&ndash;&gt;-->
    <!--&lt;!&ndash;      <app-video></app-video>&ndash;&gt;-->
    <!--</div>-->

  </div>
    <app-table-chart></app-table-chart>
</div>
