<div class="container">

  <div class="row firstPart">
    <div class="col-sm">
      <app-map></app-map>
    </div>
    <div class="col-sm">
      <app-video></app-video>
<!--      <img  style="height: 250px" src="assets/img/IMG_20200607_123122_1.jpg" style="width: 100%; height: 87.5%">-->
    </div>

    <div class="col-sm">
      <app-video2></app-video2>
<!--      <img  style="height: 250px" src="assets/img/IMG_20200607_123225_1.jpg" style="width: 100%; height: 87.5%">-->
      <!--      <app-video></app-video>-->
    </div>

    <div class="col-sm">
      <app-weather></app-weather>
    </div>

  </div>
  <app-table-chart></app-table-chart>
</div>
