.firstRow{
  height: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.secondRow{
  padding-bottom: 10px;
}
/* this will set the toastr icon */
#toast-container > .toast-custom {
  content: "\f00C";
}

/* this will set the toastr style */
.toast-custom {
  width: 400px;
  background-color: yellow;
}

.toastr-success{
  background-color:  #808000!important ;
}
