<footer class="footer border w-100" style="background-color: #0073e6; /* For browsers that do not support gradients */
  background-image: linear-gradient(#3171b1,#004c98);">
  <div class="container-fluid">
    <div class="float-left" style="padding-top: 10px">
      <span *ngIf="platform == 'ss'" class="desktop-only">© {{this.copyrightYear}} Safespotter (Comune di Monserrato) - progettato da Università degli Studi di Cagliari </span>
      <span *ngIf="platform == 'ss'" class="mobile-only">© {{this.copyrightYear}} Safespotter (Comune di Monserrato) - Unica</span>
      <span *ngIf="platform == 'ai'" class="desktop-only">© {{this.copyrightYear}}</span>
      <span *ngIf="platform == 'ai'" class="mobile-only">© {{this.copyrightYear}}</span>
    </div>
  </div>
</footer>
