<footer class="footer border rounded w-100">
  <div class="container-fluid">
    <div class="float-left">
      <span>© {{this.copyrightYear}} Heimdall </span>
      <span style="color: #000000">| </span>
      <a href="../../../assets/Info_privacy.pdf" target="_blank" style="color:#666; margin-left:5px ">{{ 'FOOTER.INFO' | translate }}</a>
    </div>

    <div class="float-right">

<!--&lt;!&ndash;      <span > {{ 'FOOTER.START' | translate }}<b>&ndash;&gt;-->

<!--&lt;!&ndash;          <a *ngIf="!drag" href="http://dmi.unica.it" target="_blank" style="color:#666;"> {{ 'FOOTER.DIP' | translate }} </a>&ndash;&gt;-->

<!--&lt;!&ndash;          <a *ngIf="drag" target="_blank" style="color:#666;"> {{ 'FOOTER.DIP' | translate }} </a>&ndash;&gt;-->
<!--       </b> (UniCA)-->
<!--      </span>-->
    </div>
  </div>
</footer>
