<mat-card class="card">

  <div *ngIf="receivedFromTable">{{updateCoordinates(receivedFromTable.lat, receivedFromTable.long)}}</div>

  <agm-map *ngIf="isMarkersReady" (mapReady)="onMapReady($event)" [latitude]='selectedLat' [longitude]='selectedLong'
           [zoom]='zoom' [maxZoom]='zoom' [minZoom]='zoom' [disableDefaultUI]=true [clickableIcons]=false>
    <agm-marker *ngFor="let marker of markers" [latitude]="marker.lat" [longitude]="marker.long" [label]="labelOptions"
                [iconUrl]="$any(icon)" (markerClick)="markerClicked(marker)">
      <agm-info-window #infoWindow>{{ marker.label }}</agm-info-window>
    </agm-marker>
    <agm-circle *ngFor="let circle of circles" [latitude]="circle.lat" [longitude]="circle.long"
                [radius]="40"
                [fillColor]=circle.color
                [fillOpacity]=circle.opacity>
    </agm-circle>
  </agm-map>

</mat-card>

