agm-map {
  height: 100%;
}
.card{
  padding: 0px 0px;
  border:0px;
  border-radius: 0px;
  box-shadow: none;
  height: 100%;
  width: 100%;
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
