<!--<div style="padding-top: 20px; height: 100%">-->
<!--<google-map id="map"-->
<!--  height="100%"-->
<!--  width="100%"-->
<!--  [zoom]="zoom"-->
<!--  [center]="center"-->
<!--  [options]="options"-->
<!--&gt;</google-map>-->

<!--&lt;!&ndash; Use custom zoom buttons &ndash;&gt;-->
<!--<button (click)="zoomIn()">Zoom in</button>-->
<!--<button (click)="zoomOut()">Zoom out</button>-->
<!--</div>-->
<mat-card class="card">


<agm-map (mapReady)="onMapReady($event)" [zoom]="zoom" [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"  [label]="labelOptions"></agm-marker>
</agm-map>

<!-- Use custom zoom buttons -->
<!--<button (click)="zoomIn()">Zoom in</button>-->
<!--<button (click)="zoomOut()">Zoom out</button>-->

</mat-card>
