<div class="container h-100">
  <!--<alert *ngIf="just_signed | async" class="alert-registration" type="success" [dismissible]="true">
    <strong>Grandioso!</strong> Ti sei registrato correttamente, ora puoi effettuare l'accesso!
  </alert>-->

  <div class="row h-100 align-items-center">
    <div class="mx-auto">
      <mat-card>

        <mat-card-header>
          <mat-card-title>Login</mat-card-title>
        </mat-card-header>

            <app-authentication-login-form></app-authentication-login-form>

        <a class="text-white font-weight-bold cursor-pointer" href="mailto:#">safespotter@mail.it</a>
      </mat-card>
    </div>
  </div>
</div>
