<div [hidden]="!dataSource || !dataSource.data || dataSource.data.length === 0" class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef style="width: 185px"> Data</th>
      <td mat-cell *matCellDef="let element"> <p>{{this.formatDate(element.date)}} </p></td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef style="margin: 0px 0px 10px 10px;"> Tipo di allerta</th>
      <td mat-cell *matCellDef="let element" style="text-transform:uppercase;">
        <!--{{element.alert_type}}-->
        <p *ngIf="element.status === 0">NESSUNA</p>
        <p *ngIf="element.status > 0 && element.alert_type === ''"> NON DISPONIBILE</p>
        <p *ngIf="element.status > 0">{{element.alert_type}}</p>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="videoURL">
      <th mat-header-cell *matHeaderCellDef style="width: 40px"> Video</th>
      <td mat-cell *matCellDef="let element"><a *ngIf="element.videoURL.length > 0" href="{{formatUrl + element.videoURL}}" target="_blank"><p>Link</p></a></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row [ngClass]="{ }" *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
</div>
