<div class="spinner-wrapper" *ngIf="!load">
  <mat-spinner [diameter]="50"></mat-spinner>
</div>

<div [hidden]="!dataSource || !dataSource.data || dataSource.data.length === 0" class="mat-elevation-z8">

  <table mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef style="width: 230px; border-bottom: 5px solid #77cdff"> Data</th>
      <td mat-cell *matCellDef="let element"><p>{{this.formatDate(element.date)}} </p></td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef style="margin: 10px 0px 10px 10px; border-bottom: 5px solid #77cdff"> Tipo
        di anomalia
      </th>
      <td mat-cell *matCellDef="let element" style="text-transform:uppercase;">
        <!--{{element.alert_type}}-->
        <p *ngIf="element.alert_id == 0">NESSUNA</p>
        <!--<p *ngIf="element.id > 0 && element.alert_type === ''"> NON DISPONIBILE</p>-->
        <p *ngIf="element.alert_id > 0">{{element.alert_name}}</p>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="videoURL">
      <th mat-header-cell *matHeaderCellDef style="width: 40px; border-bottom: 5px solid #77cdff">Video</th>
      <td mat-cell *matCellDef="let element">
        <p style="color:#77cdff; cursor: pointer;" *ngIf="element.videoURL.length > 0"
           (click)="openVideoclipModal(formatUrl + element['videoURL'] , element['alert_name'],this.formatDate(element.date), element['alert_id'], element['drawables'])"><u>Mostra</u></p>
        <p *ngIf="element.videoURL.length === 0" tooltip="Video non disponibile (trascorsi più di 7 giorni)."><i
          style="color:#333">Rimosso</i></p>

      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row [ngClass]="{ }" *matRowDef="let row; columns: displayedColumns;" striped="true"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
</div>

<div *ngIf="dataSource.data.length === 0 && load" class="mat-elevation" style="padding-left: 5px">
  <h6>
    Nessun dato disponibile
  </h6>
</div>

<ng-template #openVideoclip>
    <div class="modal-header" style="padding-bottom:0px ">
      <h2 mat-dialog-title>{{lamp}}, {{date}}, anomalia: {{alert_name}}</h2>
      <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" style="width: 900px; height: 600px">
      <video class="video" id="v" hidden controls autoplay>
        <source id="mp4" src="{{videoclip}}" type="video/mp4">
      </video>
      <canvas class="canvas" id="a" ></canvas>
<!--      <canvas class="canvas" id="b" hidden></canvas>-->
    </div>
    <div class="modal-footer">
      <button type="button" id="btn1" class="btn btn-success" (click)="play()" disabled> <i class="fas fa-play"></i> Play</button>
      <button type="button" id="btn2" class="btn btn-primary" (click)="pause()"> <i class="fas fa-pause"></i> Pausa </button>
      <button type="button" id="btn3" class="btn btn-warning" (click)="restart()" style="color: white" > <i class="fas fa-redo"></i> Restart </button>
    </div>
</ng-template>
