table {
  width: 100%;
}

.make-red {
  background-color: rgba(252, 0, 0, 0.3);
}

.make-orange {
  background-color: rgba(252, 146, 0, 0.4);
}

.make-grey {
  background-color: #720303;
}

.highlight {
  animation: highlight 1s;
}

@keyframes highlight {
  0% {
    background: lightgrey;
  }
  100% {
    background: none;
  }
}


.logo0 {
  display: block;
  text-indent: -9999px;
  width: 50px;
  height: 32px;
  background-size: 50px 32px;
  background: url(../../../../assets/img/gauge/SVG/gauge0.svg) no-repeat;

}

.logo1 {
  display: block;
  text-indent: -9999px;
  width: 50px;
  height: 32px;
  background-size: 50px 32px;
  background: url(../../../../assets/img/gauge/SVG/gauge1.svg) no-repeat;
}

.logo2 {
  display: block;
  text-indent: -9999px;
  width: 50px;
  height: 32px;
  background-size: 50px 32px;
  background: url(../../../../assets/img/gauge/SVG/gauge2.svg) no-repeat;
}

.logo3 {
  display: block;
  text-indent: -9999px;
  width: 50px;
  height: 32px;
  background-size: 50px 32px;
  background: url(../../../../assets/img/gauge/SVG/gauge3.svg) no-repeat;
}

.logo4 {
  display: block;
  text-indent: -9999px;
  width: 50px;
  height: 32px;
  background-size: 50px 32px;
  background: url(../../../../assets/img/gauge/SVG/gauge4.svg) no-repeat;

}


.logo5 {
  display: block;
  text-indent: -9999px;
  width: 50px;
  height: 32px;
  background-size: 50px 32px ;
  background: url(../../../../assets/img/gauge/SVG/gauge5.svg) no-repeat;
}

