table {
  width: 100%;
}

.icon-button {
  display: none;
}

.icon-button-background {
  background-color: #b50000;
  color: white;
}

.w-75 {
  width: 5px;
}

.w-100 {
  width: 100px;
}

.make-red {
  background-color: rgba(255, 0, 0, 0.2);
}

.make-orange {
  background-color: rgba(252, 146, 0, 0.2);
}

.make-green {
  background-color: rgba(0, 128, 0, 0.2);
}

.make-yellow {
  background-color: rgba(255, 255, 0, 0.2);
}

.highlight {
  animation: highlight 1.7s;
}

@keyframes highlight {
  0% {
    background: #818080;
  }
  100% {
    background: none;
  }
}

.logo0 {
  display: block;
  text-indent: -9999px;
  width: 50px;
  height: 32px;
  background-size: 50px 32px;
  background: url(../../../../assets/img/gauge/SVG/gauge0.svg) no-repeat;

}

.logo1 {
  display: block;
  text-indent: -9999px;
  width: 50px;
  height: 32px;
  background-size: 50px 32px;
  background: url(../../../../assets/img/gauge/SVG/gauge1.svg) no-repeat;
}

.logo2 {
  display: block;
  text-indent: -9999px;
  width: 50px;
  height: 32px;
  background-size: 50px 32px;
  background: url(../../../../assets/img/gauge/SVG/gauge2.svg) no-repeat;
}

.logo3 {
  display: block;
  text-indent: -9999px;
  width: 50px;
  height: 32px;
  background-size: 50px 32px;
  background: url(../../../../assets/img/gauge/SVG/gauge3.svg) no-repeat;
}

.logo4 {
  display: block;
  text-indent: -9999px;
  width: 50px;
  height: 32px;
  background-size: 50px 32px;
  background: url(../../../../assets/img/gauge/SVG/gauge4.svg) no-repeat;

}

.logo5 {
  display: block;
  text-indent: -9999px;
  width: 50px;
  height: 32px;
  background-size: 50px 32px;
  background: url(../../../../assets/img/gauge/SVG/gauge5.svg) no-repeat;
}

.box {
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  align-items: center;

}

.item {
  flex: 0.15 0.5;
  align-items: baseline;
  font-size: 15px;
}

.circle0 {
  color: #cccccc;
}

.circle1 {
  color: #007965;
}

.circle2 {
  color: #ffdd49;
}

.circle3 {
  color: #ff7400;
}

.circle4 {
  color: #ff0000;
}

mat-paginator {
  background-color: #FFFFFF;
}

table {
  background-color: #FFFFFF;
}

th {
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

td {
  font-size: 18px;
}
//
@media screen and (min-width: 721px){
  .desktop-only {
    visibility: visible;
  }

  .mobile-only{
    display: none;
    visibility: hidden;
  }
}

@media screen and (max-width: 720px) {
  .desktop-only {
    display: none;
    visibility: hidden;
  }

  .mobile-only{
    visibility: visible;
  }

}
