<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Via </th>
      <td mat-cell *matCellDef="let element"> {{element.street}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef> Ip </th>
      <td mat-cell *matCellDef="let element"> {{element.ip}} </td>
    </ng-container>

    <!-- Symbol Column -->
<!--    <ng-container matColumnDef="symbol">-->
<!--      <th mat-header-cell *matHeaderCellDef> Criticità </th>-->
<!--      <td class="gauge-container" mat-cell [appBlink]="element.critical_issues" *matCellDef="let element"> <mwl-gauge-->
<!--        class="two"-->
<!--        [max]="5"-->
<!--        [dialStartAngle]="180"-->
<!--        [dialEndAngle]="0"-->
<!--        [value]=" element.critical_issues "-->
<!--        [animated]="true"-->
<!--        [animationDuration]="2">-->
<!--      </mwl-gauge> </td>-->
<!--    </ng-container>-->


        <ng-container  matColumnDef="symbol">
          <th mat-header-cell *matHeaderCellDef> Criticità </th>
          <td class="gauge-container"  mat-cell *matCellDef="let element"><a class="logo{{element.critical_issues}}">{{grey}}</a></td>
        </ng-container>

    <ng-container matColumnDef="button" >
      <th mat-header-cell *matHeaderCellDef> Info </th>
      <td mat-cell *matCellDef="let element"> <button mat-raised-button  (click)="openDialog(element)"  >Info</button></td>
    </ng-container>

    <ng-container matColumnDef="allert" >
      <th mat-header-cell *matHeaderCellDef> Allerta </th>
      <td mat-cell *matCellDef="let element" > <button class="icon-button-background" [ngClass]="{'icon-button': element.critical_issues != '5'}" mat-raised-button  (click)="openDialogrequest(element)"  >AZIONE RICHIESTA</button></td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row [ngClass]="{'make-red': row.critical_issues == '5', 'make-orange': row.critical_issues == '4', 'make-yellow': row.critical_issues == '3', 'highlight': (row.id == grey && row.critical_issues != 4 && row.critical_issues != 5 && row.critical_issues != 3 )  }" *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
