<div class="mat-elevation-z0" style="padding-bottom: 15px">
  <table mat-table [dataSource]="dataSource" style=" border: 1px solid #cccccc; ">

    <!-- Position Column -->
    <ng-container style="margin-left: 35px" matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef style="margin-left: 5px; color: #333333; border-bottom: 5px solid #77cdff">
        No.
      </th>
      <td style="height: 65px" mat-cell *matCellDef="let element"> {{element.id}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef style="border-bottom: 5px solid #77cdff"><span
        style="margin-left: 35px; color: #333333"> Via</span></th>
      <td mat-cell *matCellDef="let element"
          style="color:#009EDA;"> {{element.street}}
      </td>
      <!--      <td mat-cell *matCellDef="let element" (click)="getValueFromClick(element)"-->
      <!--          style="cursor: pointer; color:#009EDA; text-decoration: underline"> {{element.street}}-->
      <!--      </td>-->
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef class="desktop-only" style="border-bottom: 5px solid #77cdff"><span
        style="margin-left: 0px; color: #333333">Stato</span></th>
      <td mat-cell *matCellDef="let element" class="desktop-only">
        {{element.condition}}
        <span class="dot"
              [ngClass]="{'dot-red' : element.condition == 'Disconnesso', 'dot-green' : element.condition == 'Connesso', 'dot-yellow' : element.condition == 'Inattivo'}"></span>
      </td>
    </ng-container>

    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef style="border-bottom: 5px solid #77cdff"><span
        style="margin-left: 30px; color: #333333"
        class="desktop-only">Allerta</span></th>
      <td class="gauge-container" mat-cell *matCellDef="let element">
        <span class="box">
          <!--<object class="logo{{0}} item"></object>-->
          <i class="fas fa-circle" [ngClass]="{'circle0': element.anomaly_level == 0 , 'circle1': element.anomaly_level == 1 ,
          'circle2': element.anomaly_level == 2 , 'circle3': element.anomaly_level == 3, 'circle4': element.anomaly_level == 4}"> </i>
          <p class="desktop-only"
             style="margin: 0px 0px 0px 15px; font-size: 15px"><strong> {{convertAnomalyLevel(element.anomaly_level)}} </strong></p>
          <!--<p class="item" style="margin: 0px 0px 0px 15px;"><strong>{{element.condition_convert}}</strong></p>-->

        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="button">
      <th mat-header-cell *matHeaderCellDef style="border-bottom: 5px solid #77cdff"><span
        style="color: #333333" class="desktop-only"> Gestione</span></th>
      <td mat-cell *matCellDef="let element">
        <div class="desktop-only">
          <button style="width:100px; color: #FFFFFF; background-color: #77cdff" mat-raised-button
                  (click)="openDialog(element)">Storico
          </button>
        </div>
        <div class="mobile-only">
          <mat-icon (click)="openDialog(element)"
                    style="font-size: 2em; color: #666666; margin-right: 20px">toc
          </mat-icon>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef='gear'>
      <th mat-header-cell *matHeaderCellDef style="border-bottom: 5px solid #77cdff; text-align:right;">
        <!--        <button class="desktop-only" style="width:100px; color: #FFFFFF; background-color: #77cdff" mat-raised-button tooltip="Aggiorna la dashboard" (click)="updateDashboard()">Aggiorna</button>-->
      </th>
      <td style="padding-right: 0px;" mat-cell *matCellDef="let element">
        <!--<mat-icon (click)="openConfiguration(element)" style=" font-size: 1.73em; color: #666666; cursor: pointer;">-->
        <!--settings-->
        <!--</mat-icon>-->

<!--        <audio autoplay>-->
<!--          <source src="../../../../assets/audio/alarm.mp3">-->
<!--          Your browser does not support the audio element.-->
<!--        </audio>-->
        <img *ngIf="element['anomaly_level'] > 0" src="./../../../../assets/icons/edit-alert.png" class="desktop-only"
             (click)="openEditAlertModal(editAlertModal, element.id, element.notification_id, element.status_id)"
             style="cursor: pointer; margin-right: 10px; float: right; height:2vh;" tooltip="Modifica allerta">
        <img *ngIf="element['anomaly_level'] > 0" src="./../../../../assets/icons/propagate_alert.png"
             class="desktop-only"
             (click)="openPropagateAlertModal(propagateAlertModal, element.id, element.alert_id, element.anomaly_level, element.street)"
             style="cursor: pointer; margin-right: 10px; float: right; height:2vh;" tooltip="Propaga allerta">
        <img *ngIf="element['anomaly_level'] > 0" src="./../../../../assets/icons/wall-clock.png" class="desktop-only"
             (click)="openProrogationAlertModal(prorogationAlertModal, element.id)"
             style="cursor: pointer; margin-right: 10px; float: right; height:2vh;" tooltip="Proroga allerta">
        <img *ngIf="element['anomaly_level'] == 0" src="./../../../../assets/icons/alert.png" class="desktop-only"
             (click)="openManualAlertModal(manualAlertModal, element.id)"
             style="cursor: pointer; margin-right: 10px; float: right; height:2vh;" tooltip="Forza allerta manuale">
        <img *ngIf="user_type == 0" src="./../../../../assets/icons/edit.svg" (click)="openEdit(element.id)"
             class="desktop-only"
             style="cursor: pointer; margin-right: 10px; float: right; height:2vh;"
             tooltip="Modifica o cancella lampione">
        <img src="./../../../../assets/icons/cam_brand.png" (click)="openCam(element.ip_cam_brand)" class="desktop-only"
             style="cursor: pointer; margin-right: 10px; float: right;" tooltip="Camera brandeggiabile">
        <img src="./../../../../assets/icons/cam_fix.png" (click)="openCam(element.ip_cam_fix)" class="desktop-only"
             style="cursor: pointer; margin-right: 10px; float: right;" tooltip="Camera fissa">
        <img src="./../../../../assets/icons/gear.png" (click)="openConfiguration(element)"
             style="cursor: pointer; margin-right: 10px; float: right;" tooltip="Configura lampione">

      </td>
    </ng-container>

    <ng-container matColumnDef='info'>
      <th mat-header-cell *matHeaderCellDef class="desktop-only" style="border-bottom: 5px solid #77cdff"></th>
      <td mat-cell *matCellDef="let element" class="desktop-only">
        <!--<mat-icon style="font-size: 1.73em; color: #666666">info</mat-icon>-->

        <!--</td>-->
        <img src="./../../../../assets/icons/info.png">
    </ng-container>

    <ng-container matColumnDef='condition'>
      <th mat-header-cell *matHeaderCellDef style="border-bottom: 5px solid #77cdff"><span
        style="margin-left: 25px; color: #333333">Anomalia in corso</span>
      </th>
      <td mat-cell *matCellDef="let element">
        <p class="item" style=" font-size: 0.73em; color: #333333; margin: 0px 0px 0px 15px; "
           *ngIf="element.alert_id == 0"> NESSUNA ANOMALIA
          RECENTE</p>
        <p class="item" style=" font-size: 0.73em; color: #333333; margin: 0px 0px 0px 15px;"
           *ngIf="element.alert_id === undefined"> TIPO DI
          ALLERTA NON DISPONIBILE</p>
        <p class="item" style=" font-size: 0.73em; margin: 0px 0px 0px 15px; text-transform:uppercase; color: #333333"
           *ngIf="element.alert_id > 0"> {{element.alert_name}}</p>
      </td>
    </ng-container>

    <ng-container matColumnDef="alert">
      <th mat-header-cell *matHeaderCellDef style="color: #333333; border-bottom: 5px solid #77cdff"></th>
      <td mat-cell *matCellDef="let element">
        <div class="desktop-only">
          <button class="icon-button-background" [ngClass]="{'icon-button': element.anomaly_level < 3}"
                  mat-raised-button (click)="openDialogrequest(element)"
                  style="margin: 0px 0px 0px 15px;">AZIONE RICHIESTA
          </button>
        </div>
        <div class="mobile-only">
          <mat-icon style="color: darkred; margin-right: 20px" [ngClass]="{'icon-button': element.anomaly_level < 3}"
                    (click)="openDialogrequest(element)"> warning
          </mat-icon>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row
        [ngClass]="{'make-red': row.anomaly_level == 4, 'make-orange': row.anomaly_level == 3, 'make-yellow': row.anomaly_level == 2, 'make-green': row.anomaly_level == 1 ,'highlight': (row.id == grey && row.anomaly_level != 4 && row.anomaly_level != 3 && row.anomaly_level != 2 && row.anomaly_level != 1)  }"
        *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[4]" showFirstLastButtons style=" border: 1px solid #cccccc; "></mat-paginator>
</div>


<ng-template #manualAlert>
  <div class="modal-header" *ngIf="isPanelReady">
    <h4 class="modal-title pull-left"><b>Forza allerta manuale</b></h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="manualAlertForm">
      <p>
        <i>Il pannello luminoso è attivabile solamente con un livello di allerta minimo di colore giallo.</i>
      </p>
      <h6>Seleziona anomalia *</h6>
      <mat-form-field appearance="fill">
        <mat-label>Anomalia</mat-label>
        <select matNativeControl required formControlName="alert_id">
          <!--        <mat-option *ngFor="let anomaly of anomalyList" [value]="anomaly['id']">-->
          <!--          {{anomaly['value']}}-->
          <!--        </mat-option>-->
          <option value="1">Violaz. carreggiata o senso di marcia</option>
          <option value="2">Traffico congestionato</option>
          <option value="3">Oggetto o persona in strada</option>
          <option value="4">Invasione isola di traffico/marciapiede</option>
          <option value="5">Potenziale sinistro</option>
          <option value="6">Sosta o fermata vietata</option>
          <option value="7">Guida imprudente</option>
        </select>
      </mat-form-field>
      <h6>Livello di allerta *</h6>
      <mat-form-field appearance="fill">
        <mat-label>Tipo allerta</mat-label>
        <select matNativeControl required formControlName="anomaly_level">
          <option value="1">Allerta verde</option>
          <option value="2">Allerta gialla</option>
          <option value="3">Allerta arancione</option>
          <option value="4">Allerta rossa</option>
        </select>
      </mat-form-field>
      <div *ngIf="manualAlertForm.value['anomaly_level'] > 1">
        <h6>Attivazione pannello *</h6>
        <mat-form-field appearance="fill">
          <mat-label>Pannello</mat-label>
          <select matNativeControl required formControlName="panel">
            <option value="0">Disattivato</option>
            <option value="3">Pericolo</option>
            <option value="2">Rischio elevato</option>
            <option value="1">Rischio moderato</option>
          </select>
        </mat-form-field>
        <p style="color: red" *ngIf="panelActualValue>0">
          <i>Attenzione! Il pannello associato al lampione risulta essere acceso con illuminazione di tipo
            <b>{{this.parsePanelValue(this.panelActualValue)}}</b></i>
        </p>
      </div>

      <!--      <div style="padding-bottom: 10px">-->
      <!--        <h6>Timer</h6>-->
      <!--        <textarea style="width: 75%; resize: none;" rows="1" type="number" formControlName="timer"></textarea> min-->
      <!--      </div>-->
      <h6>Timer *</h6>
      <div class="input-group mb-3 col-md-6" style="padding: 0px">
        <input type="text" formControlName="timer" class="form-control"/>
        <div class="input-group-prepend">
          <span class="input-group-text">min</span>
        </div>
      </div>
      <h6>Invio notifiche</h6>
      <mat-checkbox class="example-margin" formControlName="telegram">Telegram</mat-checkbox>
    </form>
  </div>
  <div class="modal-footer">
    <button
      *ngIf="manualAlertForm.controls['alert_id'].status == 'VALID' && manualAlertForm.controls['anomaly_level'].status == 'VALID'"
      type="button" class="btn btn-success" (click)="manualAlertSubmit()">Salva
    </button>
    <button type="button" class="btn btn-danger" (click)="closeModal()">Annulla</button>
  </div>
</ng-template>


<ng-template #prorogationAlert>
  <div class="modal-header">
    <h4 class="modal-title pull-left"><b>Proroga allerta</b></h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      <i>La proroga sarà valida a partire dal momento del salvataggio.</i>
    </p>
    <form [formGroup]="prorogationAlertForm">
      <h6>Timer *</h6>
      <div class="input-group mb-3 col-md-6" style="padding: 0px">
        <input type="text" formControlName="timer" class="form-control"/>
        <div class="input-group-prepend">
          <span class="input-group-text">min</span>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="prorogationAlertSubmit()">Salva</button>
    <button type="button" class="btn btn-danger" (click)="closeModal()">Annulla</button>
  </div>
</ng-template>

<ng-template #editAlert>
  <div class="modal-header">
    <h4 class="modal-title pull-left"><b>Modifica allerta</b></h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="editAlertForm">
      <p>
        <i>Il pannello luminoso è attivabile solamente con un livello di allerta minimo di colore giallo.</i>
      </p>
      <h6>Seleziona anomalia *</h6>
      <mat-form-field appearance="fill">
        <mat-label>Anomalia</mat-label>
        <select matNativeControl required formControlName="alert_id">
          <!--        <mat-option *ngFor="let anomaly of anomalyList" [value]="anomaly['id']">-->
          <!--          {{anomaly['value']}}-->
          <!--        </mat-option>-->
          <option value="1">Violaz. carreggiata o senso di marcia</option>
          <option value="2">Traffico congestionato</option>
          <option value="3">Oggetto o persona in strada</option>
          <option value="4">Invasione isola di traffico/marciapiede</option>
          <option value="5">Potenziale sinistro</option>
          <option value="6">Sosta o fermata vietata</option>
          <option value="7">Guida imprudente</option>
        </select>
      </mat-form-field>
      <h6>Livello di allerta *</h6>
      <mat-form-field appearance="fill">
        <mat-label>Tipo allerta</mat-label>
        <select matNativeControl required formControlName="anomaly_level">
          <option value="1">Allerta verde</option>
          <option value="2">Allerta gialla</option>
          <option value="3">Allerta arancione</option>
          <option value="4">Allerta rossa</option>
        </select>
      </mat-form-field>
      <div *ngIf="editAlertForm.value['anomaly_level'] > 1">
        <h6>Attivazione pannello *</h6>
        <mat-form-field appearance="fill">
          <mat-label>Pannello</mat-label>
          <select matNativeControl required formControlName="panel">
            <option value="0">Disattivato</option>
            <option value="3">Pericolo</option>
            <option value="2">Rischio elevato</option>
            <option value="1">Rischio moderato</option>
          </select>
        </mat-form-field>
        <p style="color: red" *ngIf="panelActualValue>0">
          <i>Attenzione! Il pannello associato al lampione risulta essere acceso con illuminazione di tipo
            <b>{{this.parsePanelValue(this.panelActualValue)}}</b></i>
        </p>
      </div>
      <!--      <div style="padding-bottom: 10px">-->
      <!--        <h6>Timer</h6>-->
      <!--        <textarea style="width: 75%; resize: none;" rows="1" type="number" formControlName="timer"></textarea> min-->
      <!--      </div>-->
      <h6>Timer *</h6>
      <div class="input-group mb-3 col-md-6" style="padding: 0px">
        <input type="text" formControlName="timer" class="form-control"/>
        <div class="input-group-prepend">
          <span class="input-group-text">min</span>
        </div>
      </div>
      <h6>Invio notifiche</h6>
      <mat-checkbox class="example-margin" formControlName="telegram">Telegram</mat-checkbox>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="editAlertSubmit()">Salva</button>
    <button type="button" class="btn btn-danger" (click)="closeModal()">Annulla</button>
  </div>
</ng-template>

<ng-template #propagateAlert>
  <div class="modal-header">
    <h4 class="modal-title pull-left"><b>Propaga allerta</b></h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="propagateAlertForm">
      <div style="padding-bottom: 10px">In questa pagina è possibile estendere l'allerta generata dal lampione di
        <b>{{propagateAlertForm.value['street']}}</b>, ad un altro lampione intelligente.
      </div>
      <h6>Seleziona lampione di destinazione *</h6>
      <mat-form-field appearance="fill">
        <mat-label>Lampione di destinazione</mat-label>
        <select matNativeControl required formControlName="dest_lamp" (change)="selectChangeHandler($event)">
          <option *ngFor="let lamp of lampList" [ngValue]="lamp.lamp_id">{{lamp.street}}</option>
        </select>
      </mat-form-field>
      <div *ngIf="propagateAlertForm.value['anomaly_level'] > 1 && this.panelActualValue!= undefined">
        <h6>Attivazione pannello *</h6>
        <mat-form-field appearance="fill">
          <mat-label>Pannello</mat-label>
          <select matNativeControl required formControlName="panel">
            <option value="0">Disattivato</option>
            <option value="3">Pericolo</option>
            <option value="2">Rischio elevato</option>
            <option value="1">Rischio moderato</option>
          </select>
        </mat-form-field>
        <p style="color: red" *ngIf="this.panelActualValue!= undefined && this.panelActualValue > 0">
          <i>Attenzione! Il pannello associato al lampione risulta essere già acceso con illuminazione di tipo
            <b>{{this.parsePanelValue(this.panelActualValue)}}.</b></i>
        </p>
      </div>
      <div *ngIf="this.panelActualValue!= undefined">
        <h6>Timer *</h6>
        <div class="input-group mb-3 col-md-6" style="padding: 0px">
          <input type="text" formControlName="timer" class="form-control"/>
          <div class="input-group-prepend">
            <span class="input-group-text">min</span>
          </div>
        </div>
      </div>

    </form>

    <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="propagationAlertSubmit()">Salva</button>
      <button type="button" class="btn btn-danger" (click)="closeModal()">Annulla</button>
    </div>
  </div>
</ng-template>
