<button mat-icon-button class="close-button" [mat-dialog-close]="true">
  <mat-icon class="close-icon" color="#333333">close</mat-icon>
</button>
<h2 mat-dialog-title>{{data.street}}</h2>
<mat-dialog-content class="mat-typography">
  <h3>{{data.alert_name}}</h3>
  <div class="desktop-only">
    <mat-card style="width: 500px; height: 500px">
      <mat-video *ngIf="isVideoURLReady" [autoplay]="true" src={{videoURL}} [loop]="true" [quality]="false" [muted]="true" ></mat-video>
    </mat-card>
  </div>
  <div class="mobile-only">
    <mat-card style="width: auto; height: auto">
      <mat-video *ngIf="isVideoURLReady" [autoplay]="true" src={{videoURL}} [loop]="true" [quality]="false" [muted]="true" ></mat-video>
    </mat-card>
  </div>

</mat-dialog-content>

<button mat-raised-button class="cam-button" (click)="openCam()">
Apri camera brandeggiabile
</button>
<!--<mat-dialog-actions align="end">-->
  <!--<button mat-button mat-dialog-close cdkFocusInitial (click)="actionRequest(data)" >Chiudi</button>-->
<!--</mat-dialog-actions>-->
