<button mat-icon-button class="close-button" [mat-dialog-close]="true">
  <mat-icon class="close-icon" color="#333333">close</mat-icon>
</button>
<h2 mat-dialog-title>Richiesta supervisione operatore</h2>
<mat-dialog-content class="mat-typography" style="max-width: 400px">
  <h3 style="text-align: justify">Il lampione intelligente situato in <b>{{data.street}}</b> ha rilevato una <u>possibile
    anomalia severa</u>, di tipo <b style="color:#19759f; text-transform: uppercase">{{data.alert_name}}</b>, in data
    <b>{{this.formatDate(data.date)}}</b>. </h3>
  <h3 *ngIf="isVideoURLReady">Il video dell'evento è visualizzabile cliccando il bottone sottostante (il caricamento può richiedere qualche minuto). </h3>
  <h3 *ngIf="!isVideoURLReady">Il video dell'evento non è disponibile. </h3>
  <div class="row" style="text-align: center">
    <div class="col">
      <button *ngIf="isVideoURLReady && videoURL == 'loading'" mat-raised-button class="btn btn-warning btn-lg"
              style="height: 80px; width: 250px; color:#444" disabled>
        <i class="fas fa-video"></i> Attesa caricamento
      </button>
      <button *ngIf="isVideoURLReady && videoURL != 'loading'" mat-raised-button class="btn btn-warning btn-lg"
              style="height: 80px; width: 250px"
              (click)="openVideoclipModal(videoURL, drawables)">
        <i class="fas fa-video"></i> Vedi clip video
      </button>
    </div>
  </div>

  <p *ngIf="isVideoURLReady" style="margin-top: 20px; text-align: justify">
    <i>L'operatore può decidere di annullare l'allerta, attivare il pannello luminoso manualmente o monitorare l'area
      coinvolta tramite la camera brandeggiabile. </i>
  </p>
  <div style="padding-bottom: 5px">
    <div class="row" style="text-align: center; margin-bottom: 10px">
      <div class="col">
        <button mat-raised-button class="btn btn-danger" style="width:350px;"
                (click)="updateActionRequiredAlert()"
                onclick="this.disabled = true" [mat-dialog-close]="true">
          <i class="fa fa-times" aria-hidden="true"></i>
          Disattiva allerta
        </button>
      </div>
    </div>
    <div class="row" style="text-align: center; margin-bottom: 10px">
      <div class="col">
        <button mat-raised-button class="action-button" style="width:350px" (click)="openModal(panelmodal)">
          <i class="far fa-lightbulb"></i>
          Gestisci pannello luminoso
        </button>
      </div>
    </div>

    <!--      <button mat-raised-button class="action-button" style="margin-right: 10px" onclick="this.disabled = true" (click)="sendAlternativeRoutes()">-->
    <!--        Suggerisci percorsi alternativi-->
    <!--      </button>-->
    <!--      <button mat-raised-button class="action-button" style="margin-right: 10px" disabled>-->
    <!--        Suggerisci percorsi alternativi-->
    <!--      </button>-->
    <div class="row" style="text-align: center; margin-bottom: 10px">
      <div class="col">
        <button mat-raised-button class="action-button" style="width:350px" (click)="openCam()">
          <i class="fa fa-camera" aria-hidden="true"></i>
          Monitora area interessata
        </button>
      </div>
    </div>
    <div class="row" style="text-align: center">
      <div class="col">
        <button mat-raised-button class="action-button" style="width:350px; margin-bottom: 10px" disabled
                tooltip="Funzionalità ancora non disponibile">
          <i class="fas fa-phone"></i>
          Chiama i soccorsi
        </button>
      </div>
    </div>
  </div>
  <!--    </div>-->
  <!-- /div -->
</mat-dialog-content>


<ng-template #panel>
  <div class="modal-header">
    <h4 class="modal-title pull-left"><b>Pannello luminoso</b></h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p style="color: red" *ngIf="panelActualValue > 0">
      <i>Attenzione! Il pannello associato al lampione risulta essere già acceso con illuminazione di tipo
        <b>{{this.parsePanelValue(this.panelActualValue)}}.</b></i>
    </p>
    <mat-radio-group class="example-radio-group" aria-label="Select an option">
      <mat-radio-button class="example-radio-button" value="0" [checked]="radioCheck.value0"
                        (change)="onItemChange($event.value)">
        Disattivato
      </mat-radio-button>
      <mat-radio-button class="example-radio-button" value="3" [checked]="radioCheck.value3"
                        (change)="onItemChange($event.value)">
        <img src="./../../../../assets/img/poss_incidente.PNG">
      </mat-radio-button>
      <mat-radio-button class="example-radio-button" value="2" [checked]="radioCheck.value2"
                        (change)="onItemChange($event.value)">
        <img src="./../../../../assets/img/poss_anomalie.PNG">
      </mat-radio-button>
      <mat-radio-button class="example-radio-button" value="1" [checked]="radioCheck.value1"
                        (change)="onItemChange($event.value)">
        <img src="./../../../../assets/img/poss_rall.PNG">
      </mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="updatePanel()">Salva</button>
    <button type="button" class="btn btn-danger" (click)="closeModal()">Annulla</button>
  </div>
</ng-template>

<ng-template #openVideoclip>
  <div class="modal-header" style="padding-bottom:0px ">
    <!--    <h2 mat-dialog-title>{{lamp}}, {{date}}, anomalia: {{alert_name}}</h2>-->
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="width: 900px; height: 600px">
    <video class="video" id="vAzione" hidden controls autoplay>
      <source id="mp4" src="{{this.videoURL}}" type="video/mp4">
    </video>
    <canvas class="canvas" id="canvAzione"></canvas>
    <!--      <canvas class="canvas" id="b" hidden></canvas>-->
  </div>
  <div class="modal-footer">

    <button type="button" class="btn btn-secondary text-nowrap" (click)="closeModal()"> Torna indietro
    </button>
    <button type="button" id="btn1" class="btn btn-success" (click)="play()" disabled><i class="fas fa-play"></i> Play
    </button>
    <button type="button" id="btn2" class="btn btn-primary" (click)="pause()"><i class="fas fa-pause"></i> Pausa
    </button>
    <button type="button" id="btn3" class="btn btn-warning" (click)="restart()" style="color: white"><i
      class="fas fa-redo"></i> Restart
    </button>
  </div>
</ng-template>


<!--<mat-dialog-actions align="end">-->
<!--<button mat-button mat-dialog-close cdkFocusInitial (click)="actionRequest(data)" >Chiudi</button>-->
<!--</mat-dialog-actions>-->
