:host::ng-deep .progress{
  background-color: unset !important;
}

:host::ng-deep mat-seek-progress-control{
  width: 100%;
}

.close-button{
  float: right;
  top:-24px;
  right:-24px;
  font-size:48px !important;
}

.cam-button{
  float: right;
  margin-top: 20px;
  background-color: #4267B2;
  color: white;
}

@media screen and (min-width: 721px){
  .desktop-only {
    visibility: visible;
  }

  .mobile-only{
    display: none;
    visibility: hidden;
  }
}

@media screen and (max-width: 720px) {
  .desktop-only {
    display: none;
    visibility: hidden;
  }

  .mobile-only{
    visibility: visible;
  }

}

@media (max-width: 767px) {
  .video-image {
    //max-width: 320px !important;
    //max-height: 240px !important;
    max-width: 90vw !important;
    max-height: 75vh !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .video-image {
    //max-width: 512px !important;
    //max-height: 384px !important;
    max-width: 40vw !important;
    max-height: 100vh !important;
    display: block;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .video-image {
    //max-width: 768px !important;
    //max-height: 576px !important;
    max-width: 40vw !important;
    max-height: 100vh !important;
    display: block;
  }
}


@media (min-width: 1200px) {
  .video-image {
    max-width: 40vw !important;
    max-height: 100vh !important;
    display: block;
  }
}
