<button mat-icon-button class="close-button" [mat-dialog-close]="true">
  <mat-icon class="close-icon" color="#333333">close</mat-icon>
</button>
<h2 mat-dialog-title>Video anomalia</h2>
<mat-dialog-content class="mat-typography">
  <h3>Clip video acquisita durante l'anomalia <b>{{data.alert_name}}</b>,
    rilevata dal lampione situato in <b>{{data.street}}</b>,
    in data <b>{{this.formatDate(data.date)}}</b></h3>
  <!--<div class="desktop-only">-->
  <!--<mat-card style="width: 50vw; height: 50vh">-->
  <mat-video style="margin: auto;" class="video-image" *ngIf="isVideoURLReady" [autoplay]="true" src={{videoURL}}
             [loop]="true" [quality]="false" [muted]="true"></mat-video>
  <!--</mat-card>-->
  <!--</div>-->
  <!--<div class="mobile-only">-->
  <!--&lt;!&ndash;<mat-card style="width: auto; height: auto">&ndash;&gt;-->
  <!--<mat-video *ngIf="isVideoURLReady" [autoplay]="true" src={{videoURL}} [loop]="true" [quality]="false" [muted]="true" ></mat-video>-->
  <!--&lt;!&ndash;</mat-card>&ndash;&gt;-->
  <!--</div>-->

  <div class="container">
    <div class="row">
      <button mat-raised-button (click)="updateActionRequiredAlert()" onclick="this.disabled = true">
        Rimuovi allerta
      </button>
      <button mat-raised-button disabled>
        Attiva pannello luminoso
      </button>
      <button mat-raised-button disabled>
        Suggerisci percorsi alternativi
      </button>
    </div>

  </div>
  <!--<div>-->
    <!--<button mat-raised-button disabled>-->
      <!--Chiama i soccorsi-->
    <!--</button>-->
    <!--<button mat-raised-button (click)="openCam()">-->
      <!--Apri camera brandeggiabile-->
    <!--</button>-->
  <!--</div>-->

</mat-dialog-content>


<!--<mat-dialog-actions align="end">-->
<!--<button mat-button mat-dialog-close cdkFocusInitial (click)="actionRequest(data)" >Chiudi</button>-->
<!--</mat-dialog-actions>-->
