<mat-card class="weather-card" *ngIf="currentWeather">

  <!--<mat-card-header>-->
  <!--<mat-card-title>-->
  <!--{{conditionConverter(currentWeather.conditions)}}-->
  <!--</mat-card-title>-->
  <!--<mat-card-subtitle>-->
  <!--{{currentWeather.time.toLocaleString('it-IT', dateOptions)}}-->
  <!--</mat-card-subtitle>-->
  <!--</mat-card-header>-->

  <mat-card-content>
    <!--<div class="weather-content">-->
    <div class="weather-main">

      <p style="text-transform: capitalize">{{currentWeather.time.toLocaleString('it-IT', dateOptions)}}.</p>

      <b>Condizioni meteo:</b>
      <!--<mat-card-title>-->
      {{conditionConverter(currentWeather.conditions)}}
      <!--</mat-card-title>-->

      <!--<mat-card-subtitle>-->

      <!--</mat-card-subtitle>-->

      <!--<div class="weather-conditions" tooltip="{{conditionConverter(currentWeather.conditions)}}">-->
      <div class="weather-style">
        <img style="height: 2vh" src="{{currentWeather.imgUrl}}"
             alt="{{conditionConverter(currentWeather.conditions)}}"/>

      </div>

      <!--<div class="weather-temp" tooltip="Temperatura">-->
      <div class="weather-style">
      <b>Temp. :</b>
      {{currentWeather.temp.toFixed(0)}}<span>°C</span>
      </div>
      <!--</div>-->

      <!--<div class="weather-detail" tooltip="Umidità dell'aria">-->
      <!--<span class="weather-label">-->
      <div class="weather-style">
      <b>Umidità:</b>
      <!--</span>-->
      <!--<span class="weather-value">-->
      {{currentWeather.humidity}}%
      </div>
      <!--</span>-->
      <!--</div>-->

      <!--<div class="weather-detail" tooltip="Precipitazione in un ora">-->
      <!--<span class="weather-label">-->
      <div class="weather-style">
      <b>Prec. :</b>
      <!--</span>-->
      <!--<span class="weather-value">-->
      {{currentWeather.precipitation.value}} mm
      </div>
      <!--</span>-->
      <!--</div>-->

      <!--<div class="weather-detail" tooltip="Velocità del vento">-->
      <!--<span class="weather-label">-->
      <div class="weather-style">
      <b>Vento:</b>
      <!--</span>-->
      <!--<span class="weather-value">-->
      {{currentWeather.wind.speed}} m/s
      </div>
      <!--</span>-->
      <!--</div>-->

      <!--<div class="weather-detail" tooltip="Pressione atmosferica">-->
      <!--<span class="weather-label">-->
      <b>Press. :</b>
      <!--</span>-->
      <!--<span class="weather-value">-->
      {{currentWeather.pressure.toFixed(0)}} mb

      <!--</span-->
      <!--</div>-->

    </div>

    <!--<div class="weather-details">-->

    <!---->

    <!---->
    <!---->


    <!--</div>-->
    <!--</div>-->
  </mat-card-content>

</mat-card>
