div {
  //border: 1pt #6600cc55 solid;
}

$accent: #d0e5f1;

mat-card-header {
  justify-content: center;
  text-transform: capitalize;
  text-align: center;
}

.weather-card {
  margin: auto;
  border: 0px;
  border-radius: 0px;
  box-shadow: none;
  padding: 0px;
  //height: 50px;
}

.weather-content {
  display: flex;
  flex-direction: column;
  //align-items: baseline;
}

.weather-main, .weather-details {
  display: flex;
  //border: 2pt #cc000055 solid;
  justify-content: space-evenly;
  box-sizing: border-box;
  padding-top: 10pt;
  align-items: flex-start;
}

.weather-main {
  //border-bottom: 5px solid #77cdff;
  background: $accent;
  width: 100%;
}

.weather-details {
  flex-direction: column;
  width: 100%;
  padding-left: .5em;
}

.weather-conditions {
  display: flex;
  justify-content: center;
}

.weather-temp {
  font-size: 32pt;
  font-weight: bold;
  margin: auto 6pt auto 0;

  span {
    font-size: 18pt;
    vertical-align: text-top;
  }
}
  p {
    font-size: 20px;
  }

  b {
    font-size: 20px;
  }

.weather-detail {
  border-bottom: 1pt #00000033 solid;
  line-height: 2em;
}

.weather-label {
}

.weather-value {
  float: right;
}

.weather-style {
  //border-right: 1px solid black ;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
}

