<mat-card class="weather-card" *ngIf="currentWeather">

  <mat-card-content>
    <div class="weather-main">

      <div class="weather-style">
        <p style="text-transform: capitalize">{{currentWeather.time.toLocaleString('it-IT', dateOptions)}}.</p>
      </div>
      <div class="weather-style">
        <p>
          <b>Condizioni meteo:</b>
          {{conditionConverter(currentWeather.conditions)}}
          <img style="height: 30px" src="{{currentWeather.imgUrl}}"
               alt="{{conditionConverter(currentWeather.conditions)}}"/>
        </p>
      </div>
      <!--<div class="weather-style">-->
      <!--<p>-->

      <!--</p>-->

      <!--</div>-->

      <div class="weather-style">
        <p>
          <b>Temp. :</b>
          {{currentWeather.temp.toFixed(0)}}°C
        </p>

      </div>
      <!--</div>-->

      <div class="weather-style">
        <p>
          <b>Umidità:</b>
          {{currentWeather.humidity}}%
        </p>
      </div>

      <div class="weather-style">
        <p>
          <b>Prec. :</b>
          {{currentWeather.precipitation.value}} mm
        </p>
      </div>

      <div class="weather-style">
        <p>
          <b>Vento:</b>
          {{currentWeather.wind.speed}} m/s
        </p>
      </div>

      <div class="weather-style">
        <p>
          <b>Press. :</b>
          {{currentWeather.pressure.toFixed(0)}} mb
        </p>
      </div>

    </div>

  </mat-card-content>

</mat-card>
