// If you want to override variables do it here
@import "variables";

// Import styles
@import "../../node_modules/@coreui/coreui/scss/coreui";
@import '../../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';

// If you want to add something do it here

// Font Mr. Robot
@import url('https://fonts.googleapis.com/css?family=Roboto:100,400');

// Ngx Toastr
@import '../../node_modules/ngx-toastr/toastr.css';

@import "../../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import "custom";

body, html {
  margin: 0;
  height: 100%;
  overflow: hidden;
  //font-size: mat-font-size($alfresco-typography, body-1);
  //font-family: mat-font-family($alfresco-typography);
  //line-height: mat-line-height($alfresco-typography, body-1);
}

/* Make sure scrollbar is available in overflow scenario */
body {
  overflow: auto;
}

/* The side navigation/menu width */
mat-sidenav {
  width: 250px;
}

/* ------ Default Style ---------- */
mwl-gauge {
  width: 50px;
  height: 50px;
  display: block;
}
mwl-gauge > .gauge > .dial {
  stroke: #334455;
  stroke-width: 2;
  fill: rgba(0,0,0,0);
}
mwl-gauge > .gauge > .value {
  stroke: rgb(47, 227, 255);
  stroke-width: 2;
  fill: rgba(0,0,0,0);
}
mwl-gauge > .gauge > .value-text {
  fill: rgb(47, 227, 255);
  font-family: sans-serif;
  font-weight: bold;
  font-size: 0.8em;
}
/* ------- Alternate Style ------- */
mwl-gauge.two {
}
mwl-gauge.two > .gauge > .dial {
  stroke: #334455;
  stroke-width: 13;
}
mwl-gauge.two > .gauge > .value {
  stroke: red;
  stroke-dasharray: none;
  stroke-width: 13;
}
mwl-gauge.two > .gauge > .value-text {
  fill: orange;
}
/* ------- Alternate Style ------- */
mwl-gauge.three {
}
mwl-gauge.three > .gauge > .dial {
  stroke: #334455;
  stroke-width: 2;
}
mwl-gauge.three > .gauge > .value {
  stroke: #C9DE3C;
  stroke-width: 5;
}
mwl-gauge.three > .gauge > .value-text {
  fill: #C9DE3C;
}
/* ----- Alternate Style ----- */
mwl-gauge.four > .gauge > .dial {
  stroke: #334455;
  stroke-width: 5;
}
mwl-gauge.four > .gauge > .value {
  stroke: #BE80FF;
  stroke-dasharray: none;
  stroke-width: 5;
}
mwl-gauge.four > .gauge > .value-text {
  fill: #BE80FF;
}
/* ----- Alternate Style ----- */
mwl-gauge.five > .gauge > .dial {
  stroke: #334455;
  stroke-width: 5;
}
mwl-gauge.five > .gauge > .value {
  stroke: #F8774B;
  stroke-dasharray: 25 1;
  stroke-width: 5;
}
mwl-gauge.five > .gauge > .value-text {
  fill: #F8774B;
  font-size: 0.7em;
}
/* ----- Alternate Style ----- */
mwl-gauge.six > .gauge > .dial {
  stroke: #334455;
  fill: #334455;
  stroke-width: 20;
}
mwl-gauge.six > .gauge > .value {
  stroke: #FF6DAF;
  stroke-width: 20;
}
mwl-gauge.six > .gauge > .value-text {
  fill: #FF6DAF;
  font-size: 0.7em;
}
mwl-gauge.seven > .gauge > .dial {
  stroke: transparent;
  stroke-width: 5;
  transform: scale(0.9,0.9) translate3d(5.5px, 5.5px, 0);
  fill: rgba(148, 112, 57, 0.42);
}
mwl-gauge.seven > .gauge > .value {
  stroke: #F8774B;
  stroke-dasharray: none;
  stroke-width: 5;
}

.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
}
.dot-red {
  background-color: red;
}
.dot-green {
  background-color: green;
}
.dot-yellow {
  background-color: #ffa408;
}

.toast-success{
  //fill: #515151!important;
  background-color: #FFFF9F!important ;
  color: #515151 !important;
  background-image: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'><path fill='rgb(51,51,51)' d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z'/></svg>");
}
