<div class="container-fluid mb-0">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h2 class="text-center">Form di aggiunta di un lampione</h2>
    </div>
  </div>
  <form [formGroup]="lampForm">
    <div class="form-group">
      <div class="row">
        <label class="col-md-1">Via:</label>
        <textarea class="form-control" formControlName="street"></textarea>
      </div>
      <div class="row">
        <label class="col-md-1">Latitudine:</label>
        <textarea class="form-control col-6" formControlName="latitude"></textarea>

        <label class="col-md-1">Longitudine:</label>
        <textarea class="form-control col-6" formControlName="longitude"></textarea>
      </div>
      <div class="row">
        <label class="col-md-1">IP camera fissa:</label>
        <textarea class="form-control col-6" formControlName="ip_cam_fix"></textarea>

        <label class="col-md-1">IP camera brandeggiabile:</label>
        <textarea class="form-control col-6" formControlName="ip_cam_brand"></textarea>
      </div>
    </div>
    <div class="form-group">
      <button (click)="createLamppost()" type="submit" class="btn btn-primary">Crea</button>
    </div>
  </form>

</div>

