.firstRow{
  height: 250;
  width: 1000px;
}

.mat-form-field {
  width: 100% !important;
  padding: 0 0;
}

.mat-dialog-title{
  padding: 5px 5px 5px 5px;
  margin-bottom: 0px;
}

.close-button{
  float: right;
  top:-24px;
  right:-24px;
  font-size:48px !important;
}
