<h2 mat-dialog-title>{{data.info}}</h2>
<mat-dialog-content class="mat-typography" style="padding: 10px 10px 10px 10px">
  <div class="row">

    <!--<div class="col-sm" style="width: 400px; ">-->
      <!--<app-map></app-map>-->
    <!--</div>-->
    <div class="col-sm">
      <app-video-personal></app-video-personal>
    </div>
  </div>
  <!--<h3>{{data.ip}}</h3>-->
  <!--<p>{{data.critical_issues}}</p>-->
  <!--<mat-form-field>-->

    <!--<label>-->
      <!--<select matNativeControl required>-->
        <!--<option value="table">Status del lampione</option>-->
      <!--</select>-->
    <!--</label>-->
  <!--</mat-form-field>-->
  <app-table-personal></app-table-personal>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close cdkFocusInitial>Chiudi</button>
</mat-dialog-actions>
