<button mat-icon-button class="close-button" [mat-dialog-close]="true">
  <mat-icon class="close-icon" color="#333333">close</mat-icon>
</button>
<h2 mat-dialog-title>{{"Lampione di " + data.street}}</h2>
<mat-dialog-content class="mat-typography" style="padding-bottom: 0px; padding-left: 0px; margin: 0px">
  <div class="col" style="padding: 0px 5px">
    <p><i>In questa schermata è possibile visualizzare lo storico delle anomalie registrate da questo lampione intelligente. I video delle anomalie più
    vecchie di 7 giorni sono rimossi in osservanza delle normative privacy.</i></p>
    <p><b>Coordinate</b>: {{data.long}} {{data.lat}}</p>
    <p><b>Data ultimo aggiornamento dati</b>: {{this.formatDate(data.date)}}</p>
    <p><a href="{{data.ip_cam_fix}}" target="_blank">Accedi al video live della telecamera</a></p>
    <p><a href="{{data.ip_cam_brand}}" target="_blank">Accedi alla camera brandeggiabile</a></p>
  </div>
</mat-dialog-content>
<h2 mat-dialog-title>Storico anomalie registrate</h2>
<app-table-personal></app-table-personal>

